@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
</p>

<script>
    $(document).ready(function () {
        // Handler for .ready() called.
        window.setTimeout(function () {
            location.href = "https://www.google.co.in";
        }, 5000);
    });
</script>