@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<form method="post" DefaultButton="submit" onsubmit="return false">
    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-md-6">

            <h4>Personal address</h4>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <hr />
            <h4>Organisation</h4>
            <div class="form-group">
                <label asp-for="Organisation"></label>
                <input asp-for="Organisation" class="form-control" />
                <span asp-validation-for="Organisation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationAdderss"></label>
                <input asp-for="OrganisationAdderss" class="form-control" />
                <span asp-validation-for="OrganisationAdderss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VATID"></label>
                <input asp-for="VATID" class="form-control" />
                <span asp-validation-for="VATID" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Personal Information</h4>
            <div class="form-group">
                <label asp-for="Degree"></label>
                <select asp-for="Degree" class="form-control" asp-items="ViewBag.Degrees"></select>
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link" >Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row col-md-6">
        <input type="submit" class="btn btn-default btn-default" onclick="this.form.submit()" value="Confirm" />
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
