@model SeasonCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Season</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageFileName" class="control-label"></label>
                <input asp-for="MainImageFileName" class="form-control" />
                <span asp-validation-for="MainImageFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogoFileName" class="control-label"></label>
                <input asp-for="LogoFileName" class="form-control" />
                <span asp-validation-for="LogoFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepickerstart'>
                        <input asp-for="StartDate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepickerend'>
                        <input asp-for="EndDate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $('#datetimepickerstart').datetimepicker();
            $('#datetimepickerend').datetimepicker({
                useCurrent: false, //Important! See issue #1075
            });
            $('#datetimepickerend').data("DateTimePicker").defaultDate(moment("@Model.EndDate.ToString()", 'DD.MM.YYYY HH:mm:ss')).format("DD.MM.YYYY HH:mm");
            $('#datetimepickerstart').data("DateTimePicker").defaultDate(moment("@Model.StartDate.ToString()", 'DD.MM.YYYY HH:mm:ss')).format("DD.MM.YYYY HH:mm");

            $("#datetimepickerstart").on("dp.change", function (e) {
                $('#datetimepickerend').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepickerend").on("dp.change", function (e) {
                $('#datetimepickerstart').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}
