@model PaperCreateViewModel

@{
    ViewData["Title"] = "Add paper";
}

<h2>Add</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<h4>Paper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorId" />
            <input type="hidden" asp-for="SeasonId" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="ParticipancyId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyPapers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
